extends layout

block content
  .container
    if (!user)
      p Welcome
      p Please login to enter the fitness app
    if (user)
      p Welcome to fitness app
      br
      p You are currently logged in as #{user.username}
